
.hero {
	display: flex;
    background-attachment:fixed;
}

.header-text-wrapper {
	display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.header-text-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    h1 {
    	font-family: $font-family-main;
    	font-size: $font-xl;
    	color: white;
    }
    p {
        font-family: $font-family-secondary;
    	font-size: $font-title-port;
    	color: white;
    }
}

@media (max-width: 800px){
    .header-text-box h1 {
        font-size: 70px;
    }
}

@media (max-width: 650px) {
    .header-text-box h1 {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .header-text-box h1 {
        font-size: 40px;
    }
    .header-text-box p {
        font-size: 25px;
    }   
} 

@media (max-width: 380px) {
       .header-text-box h1 {
        font-size: 30px;
    }
    .header-text-box p {
        font-size: 20px;
    }
}







