
// 
// Colors
// 

$primary: #179cac;
$secondary: #f8f8f8;  // background light grey;
$text: #999999;   // off grey paragraph text
$third: #000000;       // heading black

// 
// Font Size
// 

$font-regular: 16px;
$font-medium: 18px;
$font-hero-text: 20px;
$font-large: 32px;
$font-title-port: 36px;
$h2: 60px;
$font-xl: 90px;

// 
// Font Family
// 

$font-family-main: 'Montserrat', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;